<html>
<body>
    <h2>Details for {{cust.2}} </h2>   
    <a href="/">Back to home</a>

    <br/><br/>
    
    <h3>Information Of Place</h3>    
    <table style='text-align:left'>       
        <tr>
            <th>Address</th>
            <td>:</td>
            <td> {{ cust.8 }} </td>
        </tr> 
        <tr>
            <th>Type of lodging</th>
            <td>:</td>
            <td> {{ cust.7 }} </td>
        </tr>
        <tr>
            <th>Country</th>
            <td>:</td>
            <td> {{ cust.4 }} </td>
        </tr>
        <tr>
            <th>City</th>
            <td>:</td>
            <td> {{ cust.5 }} </td>
        </tr>
        <tr>
            <th>Rating</th>
            <td>:</td>
            <td> {{ cust.3 }} / 10.0 </td>
        </tr>        
        <tr>
            <th>Price/night</th>
            <td>:</td>
            <td> {{ cust.6 }} </td>
        </tr>
        <tr>
            <th>Number of Guests Allowed</th>
            <td>:</td>
            <td> {{ cust.9 }} </td>
        </tr>
        <tr>
            <th>Number of Bedrooms Available</th>
            <td>:</td>
            <td> {{ cust.10 }} </td>
        </tr>
    </table>
    
         <h3>Amenities Provided</h3>      
            <table style='text-align:left'>
        <tr>
            <th>Kitchen</th>
            <td>:</td>
            <td> {{ cust.11 }} </td>
        </tr>
        <tr>
            <th>Parking</th>
            <td>:</td>
            <td> {{ cust.12 }} </td>            
        </tr>
        <tr>
            <th>Wifi</th>
            <td>:</td>
            <td> {{ cust.13 }} </td>
        </tr>
        <tr>
            <th>Air-conditioning</th>
            <td>:</td>
            <td> {{ cust.16 }} </td>
        </tr>
        <tr>
            <th>TV</th>
            <td>:</td>
            <td> {{ cust.17 }} </td>
        </tr>
        <tr>
            <th>Washing Machine</th>
            <td>:</td>
            <td> {{ cust.18 }} </td>
        </tr>
    </table>
        
        <h3>Rules</h3>
     <table style='text-align:left'>
        <tr>
            <th>Smoking Allowed</th>
            <td>:</td>
            <td> {{ cust.14 }} </td>
        </tr> 
        <tr>
            <th>Pets Allowed</th>
            <td>:</td>
            <td> {{ cust.15 }} </td>
        </tr>
    </table>
    
        <h3>Information of Host</h3>
     <table style='text-align:left'>
        <tr>
            <th>Name</th>
            <td>:</td>
            <td> {{ cust.20 }} </td>
        </tr> 
        <tr>
            <th>Email</th>
            <td>:</td>
            <td> {{ cust.21 }} </td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>:</td>
            <td> {{ cust.22 }} </td>
        </tr> 
        <tr>
            <th>Country</th>
            <td>:</td>
            <td> {{ cust.23 }} </td>
        </tr> 
        <tr>
            <th>Date of Birth</th>
            <td>:</td>
            <td> {{ cust.24 }} </td>
        </tr>
         <tr>
            <th>Phone Number</th>
            <td>:</td>
            <td> {{ cust.25 }} </td>
        </tr>         
    </table>
</body>
</html>
